.ant-menu-item-selected {
  background-color: rgba(
    223,
    223,
    223,
    0.438
  ) !important; /* Black transparent background */
  color: rgb(0, 0, 0) !important; /* White text color */
}

.ant-menu-item {
  color: black; /* Default text color for other items */
}

/* Optionally, you can add hover styles */
.ant-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Light hover effect */
}
