.custom-modal-body {
  padding: 20px 0;
  max-width: 600px;
  margin: 0 auto;
}

.password-page {
  background-color: black;
  color: white;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, #000000e3, #000000e3),
    url(../assets/noise_giphy.gif);
  background-position: 0 0, 50% 50%;
  padding: 20px;
}

.avatar-container {
  margin-bottom: 20px;
}

.avatar-gif {
  width: 160px;
  height: 160px;
}

.timer {
  display: flex;
  gap: 30px; /* Tambahkan jarak antar pasangan waktu */
  justify-content: center;
  padding: 70px;
}

.time-pair {
  display: flex;
  flex-direction: column;
  align-items: center; /* Posisikan angka dan label di tengah */
}

.time-number {
  font-size: 2.5rem;
  font-weight: bold;
}

.time-label {
  font-size: 1rem;
  margin-top: 5px; /* Jarak antara angka dan label */
}

.next-drop {
  margin-bottom: 20px;
}

.password-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}

.password-input-container {
  display: flex;
  align-items: center;
}

.password-input {
  border: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  outline: none;
  width: 300px;
  height: 60px !important;
}

.password-input::placeholder {
  color: #fff;
}

.enter-button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 20px 50px;
  font-size: 20px;
  cursor: pointer;
  height: 60px !important;
}

.enter-button:hover {
  background-color: #ddd;
}

.signup-button {
  background-color: #fff;
  border: none;
  padding: 20px 105px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
}

.signup-button:hover {
  background-color: #ddd;
}

.underline-text {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.signup-desc {
  margin-top: 12px;
  font-size: 10px;
  font-style: italic;
}

.signup-countdown {
  font-size: 14px;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: 0 20px;
}

.signup-countdown:hover {
  color: #ccc;
}

.ant-select-selector {
  height: 50px;
}

/* Media Queries untuk membuat responsif */

/* Untuk layar lebar (di atas 1200px) */
@media (min-width: 1200px) {
  .password-page {
    padding: 40px;
  }

  .avatar-gif {
    width: 150px;
  }

  .time-number {
    font-size: 3rem;
  }

  .enter-button {
    font-size: 1.2rem;
    padding: 20px 50px;
  }

  .signup-button {
    padding: 20px 125px;
  }
}

/* Untuk layar sedang (768px hingga 1199px) */
@media (min-width: 768px) and (max-width: 1199px) {
  .avatar-gif {
    width: 120px;
  }

  .time-number {
    font-size: 2.5rem;
  }

  .enter-button {
    font-size: 1.1rem;
    padding: 18px 25px;
  }

  .signup-button {
    padding: 18px 100px;
  }
}

/* Untuk layar kecil (kurang dari 768px) */
@media (max-width: 767px) {
  .avatar-gif {
    width: 100px;
  }

  .timer {
    gap: 10px;
    padding: 30px 10px;
  }

  .time-number {
    font-size: 1.8rem;
  }

  .enter-button {
    font-size: 0.9rem;
    padding: 12px 18px;
  }

  .signup-button {
    padding: 12px 60px;
  }

  .password-input {
    width: 80%;
    font-size: 16px;
    padding: 8px;
  }

  .enter-button {
    padding: 10px 15px;
    font-size: 16px;
  }

  .signup-button {
    padding: 10px 30px;
    font-size: 14px;
  }
}
